* {
  box-sizing: border-box;
}

html {
  margin: unset;
}

body {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 20px;
  margin: unset;
  min-height: 100vh;
}

main {
  padding: 1rem;
}

#search {
  appearance: none;
  border: unset;
  border-bottom-color: currentColor;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
}

#search:focus {
  background-color: hsl(180, 100%, 90%);
  outline: unset;
}

.hidden {
  display: none;
}

footer {
  font-size: 0.85rem;
  margin-top: auto;
  padding: 1rem;
  text-align: right;
}
